@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

:root {
  --indigo: #6610f2;
  --main-black: #000;
  --main-white: #fff;
  --secondary-white: #f5f0e8;
  --secondary-black: #242223;
}

body::-webkit-scrollbar {
  display: none;
}

* {
  margin: 0;
  box-sizing: border-box;
}

* {
  font-family: "Roboto Mono", monospace;
  margin: 0;
}

body {
  background-color: var(--main-white);
  color: var(--main-black);
}

fieldset {
  -webkit-box-shadow: 10px 10px var(--main-black);
  box-shadow: 10px 10px var(--main-black);
}

legend {
  background-color: var(--main-black);
  color: var(--main-white);
}

input[type="button"] {
  background-color: var(--main-black);
  color: var(--main-white);
}

.underline-box {
  width: 30px;
  height: 5px;
  background-color: var(--indigo);
}

.item {
  border-color: var(--indigo);
}

span {
  color: var(--indigo);
}

.hamburger {
  display: none;
  /* transition: all 0.6s ease; */
}

.bar {
  transition: all 0.6s ease;
}

.bar:nth-child(1).active  {
  transform: rotate(-45deg) translateY(5px);
}

.bar:nth-child(2).active {
  opacity: 0;
  display: none;
}

.bar:nth-child(3).active {
  transform: rotate(45deg) translateY(-5px);
}

.second-nav {
  background-color: var(--main-black);
  color: var(--main-white);
  transform: translateX(-5000px);
  visibility: hidden;
  transition: all 0.4s ease-in-out;
}

.show {
  transform: translateX(0px);
  visibility: visible;
}

@media (max-width: 450px) {
  .hamburger {
    display: block;
  }

  .nav-links {
    display: none;
  }
}
